<h1>{{ TRANSLATION + 'FEEDBACK_MATTERS' | translate }}</h1>
<p>{{ TRANSLATION + 'FEEDBACK_MATTERS_MESSAGE' | translate }}</p>
<form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
    <div class="ontario-form-group">
        <!-- Success & Error Page Alerts -->
        <div *ngVar="feedbackForm.status === 'VALID' as isValid">
            <div *ngIf="submitted" class="ontario-alert" [ngClass]="isValid ? 'ontario-alert--success' : 'ontario-alert--error'">
                <div class="ontario-alert__header">
                    <div class="ontario-alert__header-icon">
                        <svg class="ontario-icon" alt="" aria-hidden="true" focusable="false" sol:category="primary" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                            <use [attr.href] = "isValid ? '#ontario-icon-alert-success' : '#ontario-icon-alert-error'"></use>
                        </svg>
                    </div>
                    <h2 class="ontario-alert__header-title ontario-h4" [innerHtml] = "isValid ? 'Your submission was successful. Thank you!': 'There is a problem'"></h2>
                </div>
                <div class="ontario-alert__body">
                    <p [innerHtml] = "isValid ? 'Please look out for an email confirmation.' : 'Errors were found on this page:'"></p>
                    <ng-container [ngTemplateOutlet]="isValid ? success : error"></ng-container>
                </div>
            </div>
        </div>

        <ng-template #success>
            <ul>
                <span *ngFor="let v of feedbackForm.value | keyvalue;">
                    <li><a href="#">{{ v.key }}: {{ v.value }}</a></li>
                </span>
            </ul>
        </ng-template>

        <ng-template #error>
            <ul>
                <span *ngFor="let formControlName of feedbackFormControlNames">
                    <span *ngFor="let errorType of getErrorsByControlName(formControlName) | keyvalue;">
                        <span *ngVar="getErrorMessage(formControlName, errorType.key) as errorMessage">
                            <li *ngIf="!!errorMessage"><a href="#">{{ errorMessage }}</a></li>
                        </span>
                    </span>
                </span>
            </ul>
        </ng-template>


        <fieldset class="ontario-fieldset">
            <legend class="ontario-fieldset__legend ontario-fieldset__legend--large">
                Contact Information
            </legend>

            <label class="ontario-label" for="name">
                Name<span class="ontario-label__flag">(required)</span>
            </label>
            <p id="name-hint" class="ontario-hint">Please, provide your name</p>
            <div *ngIf="submitted && f.name.errors" class="ontario-error-messaging">
                <div *ngIf="f.name.errors['required']" class="ontario-error-messaging__container">
                    <div class="ontario-error-messaging__icon">
                        <svg class="ontario-icon" alt="" aria-hidden="true" focusable="false" sol:category="primary" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                            <use href="#ontario-icon-alert-error"></use>
                        </svg>
                    </div>
                    <div class="ontario-error-messaging__content">
                        The name field must not be empty.
                    </div>
                </div>
            </div>            
            <input required aria-describedby="name-hint" class="ontario-input" type="text" id="name" formControlName="name" [ngClass]="{ 'ontario-input__error': submitted && f.name.errors }">

            <label class="ontario-label" for="email">
                Email address<span class="ontario-label__flag">(required)</span>
            </label>
            <p id="email-hint" class="ontario-hint">Please, provide your email address</p>
            <div *ngIf="submitted && f.email.errors" class="ontario-error-messaging">
                <div *ngIf="f.email.errors['required']" class="ontario-error-messaging__container">
                    <div class="ontario-error-messaging__icon">
                        <svg class="ontario-icon" alt="" aria-hidden="true" focusable="false" sol:category="primary" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                            <use href="#ontario-icon-alert-error"></use>
                        </svg>
                    </div>
                    <div class="ontario-error-messaging__content">
                        The email address field must not be empty.
                    </div>
                </div>
                <div *ngIf="f.email.errors['pattern']" class="ontario-error-messaging__container">
                    <div class="ontario-error-messaging__icon">
                        <svg class="ontario-icon" alt="" aria-hidden="true" focusable="false" sol:category="primary" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                            <use href="#ontario-icon-alert-error"></use>
                        </svg>
                    </div>
                    <div class="ontario-error-messaging__content">
                        This should be a valid email address.
                    </div>
                </div>
            </div>
            <input required aria-describedby="email-hint" class="ontario-input" type="email" id="email" formControlName="email" [ngClass]="{ 'ontario-input__error': submitted && f.email.errors }">

            <label class="ontario-label" for="postalCode">
                Postal code<span class="ontario-label__flag">(required)</span>
            </label>
            <p id="postalCode-hint" class="ontario-hint">Please, provide your postal code</p>
            <div *ngIf="submitted && f.postalCode.errors" class="ontario-error-messaging">
                <div *ngIf="f.postalCode.errors['required']" class="ontario-error-messaging__container">
                    <div class="ontario-error-messaging__icon">
                        <svg class="ontario-icon" alt="" aria-hidden="true" focusable="false" sol:category="primary" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                            <use href="#ontario-icon-alert-error"></use>
                        </svg>
                    </div>
                    <div class="ontario-error-messaging__content">
                        The postal code field must not be empty.
                    </div>
                </div>
                <div *ngIf="f.postalCode.errors['pattern']" class="ontario-error-messaging__container">
                    <div class="ontario-error-messaging__icon">
                        <svg class="ontario-icon" alt="" aria-hidden="true" focusable="false" sol:category="primary" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                            <use href="#ontario-icon-alert-error"></use>
                        </svg>
                    </div>
                    <div class="ontario-error-messaging__content">
                        This should be a valid postal code.
                    </div>
                </div>
            </div>
            <input required aria-describedby="postalCode-hint" class="ontario-input ontario-input--7-char-width" type="text" id="postalCode" formControlName="postalCode" [ngClass]="{ 'ontario-input__error': submitted && f.postalCode.errors }">
        </fieldset>
        <div>
            <button type="submit" class="ontario-button ontario-button--primary">
                Submit
            </button>     
            <button type="button" (click)="onReset()" class="ontario-button ontario-button--secondary">
                Reset
            </button>            
        </div>
    </div>
</form>

<p>Form Value: {{ feedbackForm.value | json }}</p>

<p>Form Status: {{ feedbackForm.status }}</p>


<router-outlet></router-outlet>
